<div class="footer-wrapper">
    <footer id="footer" class="footer" role="contentinfo">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">
            
            <p class="pb-8 md:pb-0"> <a href="https://simplysecure.org/"><img src="/images/logo/simplysecure-logo--white@2.png" width="120px"></a></p>

            {# <p class="pb-8 md:pb-0">made by SimSec 2020</p> #}

            {# {% include 'components/social-icons.njk' %} #}

        </div>
    </footer>
</div>
