<footer
  id="footer"
  role="contentinfo"
  class="pt-8 pb-16 px-6 mx-2 md:mx-20 lg:mx-40"
>
  <a href="https://simplysecure.org/">
    <div>
      <img
        src="/images/logo/simplysecure-logo--white@2.png"
        width="120px"
        alt="SimplySecure logo"
      />
    </div>
  </a>
</footer>
