<footer
  id="footer"
  role="contentinfo"
  class="pt-8 xl:pt-32 pb-16 xl:pb-48 px-6"
>
  <a href="https://simplysecure.org/">
    <div>
      <img
        src="/images/logo/simplysecure-logo--white@2.png"
        width="120px"
        alt="SimplySecure logo"
      />
    </div>
  </a>
</footer>
