<header
  id="header"
  class="header flex-col hidden md:flex md:flex-row items-center mb-10 pr-20 lg:pr-40"
  role="banner"
>
  {% include "components/logo.njk" %} {% include 'components/nav.njk' %}
</header>
