<a
  class="company-logo-link block text-white hidden md:inline w-8 xl:w-16 m-8"
  href="/"
  title="DOTS home"
  ><img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAgMAAAAog1vUAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
  AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAAADK09//hWb///9O
  KKbwAAAAAXRSTlMAQObYZgAAAAFiS0dEAxEMTPIAAAAHdElNRQfkBR0QEha7lJX0AAAANklEQVQ4
  y2MIDQ1lQAKrVq1iGHZCQBAKBhAGVGY4CqExhp8QOmc4CsHjFT0khpHQIApumggBAF/1m2VAsagP
  AAAAOGVYSWZNTQAqAAAACAABh2kABAAAAAEAAAAaAAAAAAACoAIABAAAAAEAAABIoAMABAAAAAEA
  AABIAAAAALP5ZNUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDUtMjlUMTY6MTg6MjIrMDA6MDAB
  WMKaAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA1LTI5VDE2OjE4OjIyKzAwOjAwcAV6JgAAABJ0
  RVh0ZXhpZjpFeGlmT2Zmc2V0ADI2UxuiZQAAABd0RVh0ZXhpZjpQaXhlbFhEaW1lbnNpb24ANzLs
  wKITAAAAF3RFWHRleGlmOlBpeGVsWURpbWVuc2lvbgA3MjFWe5YAAAAASUVORK5CYII="
    class="w-full"
/></a>
