<nav id="nav" class="nav hidden md:flex md:pl-6 pt-8 w-full max-w-2xl">

    <ul class="menu flex flex-col md:flex-row items-center list-reset text-base w-full justify-between">

        {% for item in navigation.main %}

            <li class="level-1 mb-4 md:mr-4 md:mb-0">

                <a href="{{ item.url | safe }}" class="link font-bold hover:text-orangee hover:text-bold active:text-orangee hover:text-bold {% if page.url == item.url %}active text-orangee text-bold{% endif %}text-white 
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

            </li>

        {% endfor %}

    </ul>

</nav>