<nav id="nav" class="nav hidden md:flex">

    <ul class="menu flex flex-col md:flex-row items-center list-reset text-base">

        
        {% for item in navigation.main %}
        <li class="level-1 mb-4 md:mr-4 md:mb-0">

            <a href="{{ item.url | safe }}" class="link font-sans font-medium text-mediumgray hover:text-orangee active:text-orangee {% if page.url == item.url %}active text-orangee{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}
    </ul>

</nav>
