//==========  Utility classes ==========//

// subtle 'fade in' to the lazyloaded image
[data-lazy] {
  @apply opacity-0 w-full;
  transition: opacity 0.25s ease-in;
  min-height: 120px;
}

.loaded {
  @apply opacity-100;
}

// 'container' helper class
header,
.inner,
footer {
  @apply px-6;

  @screen sm {
    @apply px-8;
  }
  @screen md {
    @apply px-6 mx-20;
  }

  @screen lg {
    @apply mx-32;
  }

  @screen xl {
    @apply mx-48;
  }
}

.inner {
  @apply py-8;
}

.company-logo-link {
  @apply text-white hidden w-8;

  @screen lg {
    @apply block -ml-24 mr-16;
  }

  @screen xl {
    @apply w-16 mr-20;
    margin-left: -9rem;
  }
}

.offers {
  @apply flex flex-col;

  @screen md {
    @apply flex-row flex-wrap;
  }

  @screen lg {
    @apply ml-0 mr-0  mt-16;
  }

  section {
    @apply max-w-sm mb-16;

    @screen md {
      @apply mb-32 mr-16;
    }

    @screen lg {
      @apply mr-32 max-w-md;
    }

    @screen xl {
      @apply mr-48;
    }

    ul {
      @apply list-disc;
    }
  }
}

.content.markdown .take-aways {
  @apply mb-16;

  @screen md {
    @apply mb-24;
  }

  p {
    @apply text-base my-8;

    @screen md {
      @apply text-h4 my-16;
    }
  }

  ul,
  ol {
    @apply pl-0 list-none;

    @screen md {
      @apply pl-8 list-none;

      li {
        @apply mb-8;
      }
    }
  }
}

.content.markdown .aside {
  @apply py-8 px-6 pr-6 my-16 border-dotted border-2 border-secondary;

  @screen md {
    @apply py-16 px-12;

    p {
      @apply mb-16;
    }
  }

  ul {
    @apply mb-0 pl-8;
  }

  ul li {
    @apply list-none font-bold mb-8;

    &:last-child {
      @apply mb-0;
    }

    ul li {
      @apply list-disc font-normal mt-0 mb-0;
    }
  }
}
