---
layout: default
---

<main class="inner pattern">
  <h1>Pattern Library</h1>

  {% include "components/featured-pattern.njk" %}

  <a class="btn" href="patterns/list">View all patterns</a>

  <ul>
  {%- for topic in collections.topicsByTitle -%}
    <li>
      <h2>{{ topic.data.title }}</h2>
      <div class="mb-2">{{ topic.templateContent | safe }}</div>
      <a class="link-reference" href="/topics/{{ topic.fileSlug | lower }}">See all {{topic.data.title}}</a>
    </li>
  {%- endfor -%}
  </ul>
</main>
