---
layout: default
---

<main class="inner pattern">
  <a class="link-prev link-small" href="/library">
    <img role="presentation" src="/images/icons/back.svg" />
    <div>
      Return to library
    </div>
  </a>

  <h1 class="my-8 sm:my-16">{{ title }}</h1>

  <section class="pattern-head">
    <div class="pattern-illustration pattern-content">
      <img role="presentation" src="./illustration.svg" />
    </div>

    <div class="pattern-meta pattern-sidebar">
      <div class="pattern-published">
        <em>Last Updated</em>
        <div>{{ published }}</div>
      </div>

      <div>
        <em>Category</em>
        <a href="/topics/{{ topic }}">
          <div>{{ categoryName }}</div>
        </a>
      </div>

      {% if relatedPatterns | length > 0 %}
        <div class="pattern-related-patterns">
          <em>Related patterns</em>
          {% set byTitle = collections.patternsByTitle %}
          {% renderRelatedPatterns relatedPatterns,
          byTitle %}
        </div>
      {% endif %}

      <div class="pattern-cta">
        <em>Propose a change</em>
        <div class="flex">
          <img src="/images/icons/edit.svg" class="mr-2" />
        <a class="link-reference sm"
href='https://github.com/simplysecure/dots-patterns/blob/master/patterns/{{page.fileSlug}}/index.md'>
          <span>Edit on GitHub</span>
        </a>
</div>
      </div>

    </div>
  </section>

  <section class="pattern-main">
    <article class="pattern-content content markdown">
      {% renderPatternText content %}
      <div class="flex mt-32">
          <img src="/images/icons/edit.svg" class="mr-4" />
          <a class="link-reference"
      href='https://github.com/simplysecure/dots-patterns/blob/master/patterns/{{page.fileSlug}}/index.md'>
            <span>Want to propose a change? Edit {{title}} on GitHub</span>
          </a>
        </section>
      </div>
    </article>

    <div class="pattern-sidebar">
      {# {% if tags | length > 1 %}
        <div class="pattern-tags">
          <em>Tags</em>
          <ul>
            {% for tag in tags %}
              {% if tag !== 'pattern' %}
                <li>
                  <a class="btn btn-sm btn-pill" href="/topics/{{ tag | urlencode }}">{{ tag | capitalize }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %} #}
    </div>

</main>
