---
layout: default
---
<main class="inner mt-0 pt-4">

  <a class="link-prev link-small" href="/patterns">
    <img role="presentation" src="/images/icons/back.svg" />
    <div>
      Return to library
    </div>
  </a>

  <h1 class="my-8 leading-tight xl:mt-24">{{ title }}</h1>

  <article class="content markdown mb-16 xl:mb-24">
    {{ content | safe }}
  </article>

  {% patternListing patterns %}

  <p id="pattern-listing-no-results">No patterns found for this search term.</p>

  <div id="pattern-listing-entries" class="grid grid-cols-1 xs:grid-cols-2 xl:grid-cols-3 gap-x-8 gap-y-8 md:gap-y-12 lg:gap-y-16 xl:gap-y-24 xl:gap-x-16 my-8 lg:my-16 max-w-4xl">
    {% for pattern in patterns %}
      {% patternPreview pattern %}
    {% endfor %}
  </div>

</main>
