//==========  Buttons ==========//
a.button,
.buttons a {
  display: inline-block;
  @apply border-2 border-white py-1 px-2 mb-4 rounded-lg text-highlight;
  font-weight: bold;
  border-width: 1px;

  @screen md {
    @apply py-2 px-4 mb-6;
  }
}

.buttons {
  @apply my-6;

  a {
    @apply mr-1;

    @screen md {
      @apply mr-2;
    }
  }
}
