.link-reference {
  @apply text-base text-highlight;

  &::after {
    content: url("/images/icons/arrow-right.svg");
    vertical-align: top;
    margin-left: 2rem;
    transition-property: margin-left;
    transition-duration: 0.3s;
  }

  &:hover {
    &::after {
      margin-left: 3rem;
    }
  }
}

.link-next {
  @apply flex flex-row h-12 max-w-2xl pr-4 items-center;
  @apply text-base text-highlight;

  @screen md {
    @apply h-16;
  }

  @screen lg {
    max-width: 28rem;
  }

  div:first-child {
    @apply pr-16 inline;
  }

  div:last-child {
    @apply flex-shrink-0 ml-auto flex justify-center content-center;
    @apply w-12 h-12 rounded-full;
    @apply bg-highlight text-white text-h3;
    line-height: 1;

    // @screen md {
    //   @apply w-16 h-16;
    //   line-height: 1.5;
    // }

    transition-property: padding-left;
    transition-duration: 0.3s;
  }

  &:hover {
    div:last-child {
      @apply pl-2;
    }
  }
}
