.timeline {
  position: relative;
  &__item {
    position: relative;
    @apply mb-16 ml-16;
    &.progress {
      svg path,
      svg rect { 
        fill: theme('colors.highlight');
      }
        height: 200%;
        width: 8px;
        top: 10px;
        left: -85px;
        position: absolute;
        content: '';
    }
    &.done {
        height: 30px;
        width: 30px;
        left: -85px;
        top: 7px;
        position: absolute;
        content: "";
        background-color: theme('colors.secondary');
        clip-path: path('M20.285,2l-11.285,11.567-5.286-5.011-3.714,3.716,9,8.728,15-15.285');
    }
    &.idle {
        height: 200%;
        width: 8px;
        content: '';
        position: absolute;
        top: 4px;
        left: -85px;
    }
    &__description {
      @apply text-highlight text-h3;
      font-weight: bold;
      &.done {
        @apply text-secondary text-h3;
      }
      &.idle {
        @apply text-gray-400 text-h3;
      }
    }
    &__date {
      color: text-gray-600;
    }
  }
}
