---
layout: default
meta_title: About
meta_description: About DOTS
body_class: about
title: About
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>


        <div class="content">
        <h2 class="text-3xl">Maintainers</h2>

        <p>Eileen Wagner, Karissa McKelvey</p>

        <h2 class="text-3xl">Contributors</h2>

        <p>Kelsie Nabben, Gina Giampaolo, Ignatius Gilfedder</p>

        <h2 class="text-3xl">Advisors</h2>

        <p>Georgia Bullen, Ross Schulman, Cade Diehm</p>

        </div>

    </article>

</main>
