---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About
---

<main id="main" class="main inner focus:outline-none" tabindex="-1">
  <h1>{{ title }}</h1>

  <div class="content lg:grid lg:grid-col-2 gap-16 max-w-6xl">
  <section class="col-span-2">
    <p>
      <em>Decentralization Off The Shelf</em>
      is an initiative hosted by Simply Secure, a US-based nonprofit supporting the usability of safety and privacy tools. It aligns with Simply Secure's overall goal of creating open design resources for the community.</p>
  </p>
  <p>The initiative is currently spearheaded by Eileen Wagner and Karissa McKelvey, and has a group of volunteer contributors and advisors. We are actively seeking funding for the development of further resources. You can support us by
    <a href="/support-us">backing DOTS</a>.</p>
  </section>

  <section class="mt-16 lg:mt-0">
  <h2><a href="https://bumble.blue">Eileen Wagner</a></h2>
  <ul>
    <li>
      <em>Program Manager, Simply Secure</em>
    </li>
    <li>Eileen advises teams and organizations on UX design and research at Simply Secure. Her focus is on information architecture, content strategy, and interaction design--or anything that helps people make sense of complex technologies. She works with numerous projects in decentralization and security, and enjoys facilitating relationships between the builders and users of technology. Her background is in analytic philosophy and mathematical logic, and she won’t stop talking about demoing barbershop music.</li>
  </ul>
  </section>

  <section class="mt-16 lg:mt-0">
  <h2><a href="https://okdistribute.xyz">Karissa McKelvey</a></h2>
  <ul>
    <li>
      <em>Technology & Partnerships, Digital Democracy &amp; Research Fellow, Simply Secure</em>
    </li>
    <li>Karissa researches technical architecture design and its impact on usability, safety, and resilience. Her contributions to decentralized applications are depended upon by at-risk users including human rights defenders, journalists, and civil society activists living within repressive environments. Previously, she led user and developer experience for dat and hypercore, a decentralized data sharing tool and peer-to-peer hypermedia protocol. Her background is in political sociology and data science, and she loves making weird musical art that touches your funny bone.</li>
  </ul>
  </section>

  <section class="mt-16 lg:mt-0">
  <h2>Contributors</h2>
  <ul>
    <li>Ross Schulman</li>
    <li>Kelsie Nabben</li>
    <li><a href="https://vincentahrend.com/">Vincent Ahrend</a></li>
    <li>Ngọc Triệu</li>
  </ul>
  </section>

  <section class="mt-16 lg:mt-0"n>
  <h2>Advisors</h2>
  <ul>
    <li>Georgia Bullen</li>
    <li>Emily Jacobi</li>
    <li>Cade Diehm</li>
  </ul>
  </section>

  <section class="mt-16 lg:mt-0">
    <a class="link-reference hidden lg:inline" href="/governance">
        Find out about our governance model
    </a>
  </section>

</main>
