---
layout: default
meta_title: About
body_class: about
title: About
---

<main id="main" class="main inner focus:outline-none" tabindex="-1">
  <h1 class="col-span-2">About the project</h1>
  <div class="content lg:grid lg:grid-col-2 gap-12 max-w-6xl">
    <section class="col-span-2">

      <p>
        DOTS, short for Decentralization Off The Shelf, is a design project supporting practitioners in decentralization with interface, content, and service design. Our main resource is a library of tried-and-tested design patterns, along with a glossary of terms and a research report detailing the needs and gaps we see in this space.
      </p>

      <p>
        DOTS is hosted by Simply Secure, a US-based nonprofit supporting the usability of safety and privacy tools. It aligns with Simply Secure's overall mission of creating open design resources for the community. We are actively seeking funding for the development of further resources.
      </p>

      <p>
        <a class="link-reference" href="/vision">
          Read more about our vision
        </a>

        <br />

        <a class="link-reference" href="/support-us">
          Donate &amp; keep this work going
        </a>
      </p>
    </section>

    <h1 class="col-span-2 my-24 lg:mb-0">About the team</h1>

    <section class="mt-16 lg:mt-0">
      <h2>
        <a href="https://bumble.blue">Eileen Wagner</a>
      </h2>
      <ul>
        <li>
          <em>Designer</em>
        </li>
        <li>Eileen advises teams and organizations on UX design and research at Simply Secure. Her focus is on information architecture, content strategy, and interaction design--or anything that helps people make sense of complex technologies. She works with numerous projects in decentralization and security, and enjoys facilitating relationships between the builders and users of technology. Her background is in analytic philosophy and mathematical logic, and she won’t stop <s>talking about</s> demoing barbershop music.</li>
      </ul>
    </section>

    <section class="mt-16 lg:mt-0">
      <h2>
        <a href="https://okdistribute.xyz">Karissa McKelvey</a>
      </h2>
      <ul>
        <li>
          <em>Researcher</em>
        </li>
        <li>Karissa researches technical architecture design and its impact on
usability, safety, and resilience. Her contributions to decentralized
applications are depended upon by at-risk users. Previously, she led user experience for dat and hypercore,
a decentralized data sharing tool and peer-to-peer protocol. Her background is in political sociology and data science, and she loves making weird musical art that touches your funny bone.</li>
      </ul>
    </section>

    <section class="mt-16 lg:mt-0">
      <h2>
        <a href="https://vincentahrend.com">Vincent Ahrend</a>
      </h2>
      <ul>
        <li>
          <em>Web Engineer</em>
        </li>
        <li>
        Vincent builds elegant and performant data-driven web experiences and the tooling required to maintain them. With a long-time passion for decentralised software he has been a contributor to several related open source projects and working on a brand-new <a href="https://github.com/p2panda/p2panda">peer-to-peer framework for the web</a> as well. When in Berlin you can meet him at the bi-monthly <a href=“https://p2p-berlin.org”>p2p-berlin</a> meeting. He has a background in cognitive science and a soft spot for discordianism.
</li>
      </ul>
    </section>

    <section class="mt-16 lg:mt-0">
      <h2>Ngọc Triệu</h2>
      <ul>
        <li>
          <em>Designer</em>
        </li>
        <li>Ngọc sees design as an intervention to asymmetrical power relations. As a design researcher at Simply Secure, she imagines the futures of the world through lenses such as decoloniality and decentralization. Ngọc is passionate about user advocacy, co-creation, and equal access to knowledge(s). Her background is in design management, history and cultures; and she loves doing kendo and taking a walk in the woods.</li>
      </ul>
    </section>

    <section class="mt-16 lg:mt-0">
      <h2>Contributors</h2>
      <ul>
        <li>Ross Schulman</li>
        <li>
          <a href="https://theconversation.com/profiles/kelsie-nabben-1017003/news">Kelsie Nabben</a>
        </li>
      </ul>
    </section>

    <section class="mt-16 lg:mt-0"n>
      <h2>Advisors</h2>
      <ul>
        <li>Georgia Bullen</li>
        <li>
          <a href="https://www.ownyourexperience.com/">Lola Oyelayo</a>
        </li>
        <li>
          <a href="https://newdesigncongress.org">Cade Diehm</a>
        </li>
      </ul>
    </section>

    <section class="mt-16 lg:mt-0 col-span-2">
      <h1>Keep in touch</h1>
      <p>
        We give talks and facilitate invite-only workshops, focus groups, and
        conference gatherings about decentralization! To get notified when we release
        new resources and get invited to events, sign up for our newsletter.
      </p>
      <p>
        <a href="https://tinyletter.com/decentpatterns" class="link-reference">
          Sign up for updates
        </a>
      </p>
    </section>
  </div>
</main>
