---
layout: default
meta_title: Community
meta_description: Community page description
body_class: community
title: Community
---

<main
  id="main"
  class="main inner flex flex-1 flex-col focus:outline-none"
  tabindex="-1"
>
  <h1>
    Share your perspective
  </h1>

  <div class="content">
    <section class="mb-16 md:mb-24">
      <p>Decentralization Off The Shelf is a commons project; we create tooling and resources by the community and for the community. We invite your participation both in sharing your specific problems and challenges, as well as offering possible solutions for specific topics.</p>

    </section>
    <section class="mb-16 md:mb-24">

      <h2>Our Communication Channels</h2>

      <ul>
        <li>Our repository via GitHub for issues related to the pattern library development</li>
          <li><a href="https://github.com/simplysecure/dots" class="link-reference">DOTS repository</a></li>
        <li>Find us on Reddit for wide open discussions and community forum</li>
          <li><a href="https:/reddit.com/" class="link-reference">Reddit</a></li>
        <li>Community chat for day to day communications and tea time</li>
        <ul>
          <li>
            <a href="https://matrix.to/#/+decentpatterns:matrix.org" class="link-reference">Matrix channel</a>
          </li>
          <li>
            <a href="https://matrix.to/#/!WsSwHMxRQAqinqBdhh:matrix.org?via=matrix.org&via=westwork.org" class="link-reference">Matrix community</a>
          </li>
          <li>Bridge on IRC
            <strong>#decentpatterns</strong>
            <a href="https://chat.freenode.net/">chat.freenode.net</a>
          </li>
          <li>Bridged on Cabal
            <strong>#decentpatterns</strong>
            on
            <a href="https://cabal.net/">cabal.net</a>
          </li>
        </ul>
        <li>For speaking engagements, workshops, grants, and partnerships, inquire to <a href="">[email address]</a></li>
        <li>To receive news and updates on our work, sign up for our newsletter <a href="">newsletter signup</a>
        </ul>
      </section>

      <section class="mb-16 md:mb-24">
        <h2>Our roadmap</h2>

        <h3>Work in progress</h3>

        <ol>
          <li>
            Outlining design and architecture patterns and how those decisions affect user experience, privacy, safety;
          </li>
          <li>
            Producing a pattern library with accompanying handbook for onboarding newcomers; and
          </li>
          <li>
            Offering workshops to help projects succeed in their overarching goals for adoption.
          </li>
        </ol>

        <h3>Future work</h3>

        <ol>
          <li>Create a guided map of decentralization projects and efforts</li>
          <li>Offer a space and time for people to meet and discuss</li>
          <li>A zine explaining decentralized technologies to new users</li>
        </ol>
      </section>

      <section class="mb-16 md:mb-24">
        <h2>Donate</h2>
        <p>We are actively seeking funding and support for this project. <em>Decentralization Off The Shelf</em> is hosted by Simply Secure, a US-based 501(c)3 nonprofit. Your donation will help our ongoing work in creating tooling and resources for the decentralization community.
        </p>
        <a class="link-reference" href="">Donate &amp; keep this work going</a>
    </div>
  </main>
