---
layout: default
meta_title: Community
meta_description: Community page description
body_class: community
title: Community
---

<main
  id="main"
  class="main inner flex flex-1 flex-col focus:outline-none"
  tabindex="-1"
>
  <h1>
    Share your perspective
  </h1>

  <div class="content">
    <section>
      <p>Lorem ipsum</p>
      <div class="buttons">
        <a href="/">IRC</a>
        <a href="/">Matrix</a>
        <a href="/">Gitter</a>
        <a href="/">Slack</a>
      </div>
    </section>

    <section>
      <h2>Contribute</h2>
      <p>Our roadmap:</p>
      <ol>
        <li>
          Outlining design and architecture patterns and how those decisions
          affect user experience, privacy, safety;
        </li>
        <li>
          Producing a pattern library with accompanying handbook for onboarding
          newcomers; and
        </li>
        <li>
          Offering workshops to help projects succeed in their overarching goals
          for adoption.
        </li>
      </ol>
      <div class="buttons">
        <a href="https://github.com/simplysecure/dots"
          >See our project on Github</a
        >
        <a href="/governance/">Our governance model</a>
      </div>
    </section>
  </div>
</main>
