---
layout: default
meta_title: Community
meta_description: Resources for the community
body_class: contact
title: Community
---
    <div class="flex mb-4">
        <div class="w-3/4"></div>
        <div class="w-1/4">
            <img src="/images/icons/rectangle_o.svg">
        </div>
    </div>

<main id="main" class="main inner flex-none sm:flex-none md:flex-wrap-reverse lg:flex-initial xl:flex-1 py-16 lg:py-24 focus:outline-none" tabindex="-1">

<div class="flex">
  <div class="w-1/6 p-2">  </div>
  <div class="flex-grow w-1/2 p-2">
    <section id="container-centre" class="flex-none sm:flex-1 md:flex-auto lg:flex-initial xl:flex-1 text-left" aria-label="Summary">
        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>Decentralized technologies enable alternative applications that challenge the traditional models: where government and corporate control are causing harm, decentralized technologies can bring about autonomy, resilience, and equity.</p>
            
            <p>However, there is a significant gap between the protocols that define the decentralization space and the applications that users want to adopt. One of the missing aspects are libraries and tools that developers and designers can use to understand how to build applications.</p>

            <p>This project aims to produce a library of resources, assets, and patterns to be a toolkit supporting the design and development of better user-facing tools that are backed by decentralized architecture. Through research, focus groups, and interviews, we will document use cases, UX patterns, and architecture patterns that will provide visibility into development models, accelerate the onboarding phase for small teams to build decentralized applications, and increase the overall quantity and quality of decentralized applications. By connecting the different communities, we also hope to close the feedback loop between users and protocol developers.</p>

            <h2 class="text-3xl">Our research questions</h2>

            <ul class="mb-12 list-disc pl-4">
                <li>What use cases are decentralized applications being applied to?</li>
                <li>What user experience pattern should my application use for X, Y, Z feature?</li>
                <li>What protocol or library should I use for an application with some given constraints?</li>
                <li>What are the trade-offs in approaches for key user interactions such as multi-device, backup, and discoverability?</li>
                <li>Who is currently working on X, Y, Z topic?</li>
            </ul>


            <h2 class="text-3xl">Want to receive news on this project?</h2>
            <p> This project is under active development, and we would like to keep you posted on our progress.</p>
            <div class="flex">
                <form class="w-full max-w-sm" action="https://tinyletter.com/decentpatterns" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/decentpatterns', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

                  <p><input class="bg-dark appearance-none border-2 border-orangee rounded w-full py-2 px-4 text-white leading-tight focus:outline-none" type="text" name="email" id="tlemail" class="email"/></p> <input type="hidden" value="1" name="embed"/><input class="shadow bg-cyan focus:shadow-outline focus:outline-none text-darkgray font-medium py-2 px-4 rounded" type="submit" value="Subscribe"class="button"/>
                </form>
            </div>

        </div>
        </section>
    </div>
</main>
