---
layout: default
meta_title: Contribute
body_class: contribute
title: Contribute
---
<main
  id="main"
  class="main inner flex flex-1 flex-col focus:outline-none"
  tabindex="-1"
>
  <h1>
    Join the conversation
  </h1>

  <div class="content">
    <section class="mb-16 md:mb-24">
      <p>
        <em>Decentralization Off The Shelf</em> is a commons project that helps create tooling and resources by the community, for the community. We actively invite your participation in sharing your specific problems and challenges, as well as offering possible solutions for specific topics.
      </p>
    </section>
    <section>

      <div class="gap-x-20 max-w-6xl lg:grid lg:grid-cols-2">
        <ul class="mb-6 xl:mb-0" style="padding-left: 0">
          <li>Our design patterns live in a Github repository where you can join our discussion or request/propose a pattern.</li>
          <li>
            <a href="https://github.com/simplysecure/dots-patterns"
class="link-reference">DOTS Github repository</a>
          </li>
          <li>
            <a href="https://github.com/simplysecure/dots-patterns/discussions"
class="link-reference">Discuss and propose patterns</a>
          </li>
        </ul>

        <ul class="mb-6 xl:mb-0" style="padding-left: 0">
          <li class="pt-8 lg:pt-0">We’d love to hear from you! Options to participate in community chat for day-to-day communications and tea time include:</li>
          <li>
            <a href="https://matrix.to/#/+decentpatterns:matrix.org" class="link-reference">Matrix community</a>
          </li>
          <li>Bridged on IRC
            <em>#dots</em>
            <a class="text-highlight" href="https://webchat.freenode.net/">irc.freenode.net</a>
          </li>
          <li>Bridged on
            <a class="text-highlight" href="https://discord.gg/duPn5wy2pA">Discord</a>
          </li>
        </ul>

        <ul style="padding-left: 0">
          <li class="pt-8 lg:pt-12">We also give talks and facilitate invite-only workshops, focus groups, and conference gatherings about decentralization! For speaking engagements, workshops, grants, and partnerships, inquire through our <a href="mailto:team@decentpatterns.xyz">email</a>. To get notified when we release new resources and get invited to events, sign up for our newsletter.
          </li>
          <li>
            <a href="https://tinyletter.com/decentpatterns"
class="link-reference">E-mail newsletter</a>
          </li>
        </ul>
      </div>

    </section>

    <section class="mb-16 md:mb-24 xl:mt-24">
      <div class="lg:grid lg:grid-cols-2 gap-24 max-w-6xl">
        <section>
          <h2>Donate</h2>
          <p class="mb-6">DOTS is a collective initiative working to identify needs, synthesize priorities, provide resources, and coordinate efforts to further the development and deployment of decentralized technologies. By addressing common obstacles to effective decentralization design, use, and adoption, we can increase the overall quantity and quality of decentralized applications. Given the size and importance of this project, we are actively seeking funding to help fuel the development of high-quality resources on a fast and efficient time frame.
        </p>
          <a class="link-reference" href="/support-us">Donate to keep this work going</a>
    </section>

    <section class="md:mb-16">
      <h2>Governance</h2>
      <p class="mb-6">Our core values are mutual respect, open-mindedness, human-centric approaches, and inclusion. All design assets created are licensed under CC-BY. All code created is open source. The legal entity sponsoring DOTS is Simply Secure, a US 501(c)3.
      </p>
      <a class="link-reference" href="/governance">Learn about our governance structure</a>
    </section>
    </div>
    </main>
