---
layout: default
meta_description: ...
body_class: home
title: Decentralization, off the shelf.
---
<link rel="prerender" href="/report" />
<link rel="prefetch" href="/report" />

<main class="main inner ">
  <h1 class="page-title">Decen&shy;trali&shy;zation, off the shelf.</h1>
  <section aria-label="Summary" class="flex flex-col lg:flex-row md:mb-24 xl:mb-32">

    <div class="content lg:mr-24">
      <p>
        Decentralized technologies enable alternative applications that challenge the traditional models: where government and corporate control are causing harm, decentralized technologies have the potential to bring about autonomy, resilience, and equity.
      </p>

      <p class="lg:mb-6">
        However, there is a significant gap between the protocols that define the decentralization space and the applications that users want to adopt. Through a series of interviews and focus groups with technology designers and builders, we have identified 7 areas where projects can improve their own practice; where targeted research is necessary; and where funders can enable collaborative innovations.
      </p>

      <a class="link-reference hidden lg:inline" href="/report">
        Read our research report
      </a>

      <p class="lg:mt-12">
        One of the missing aspects are tools that developers and designers can use to understand how to build applications. We are now producing a library of resources, assets, and patterns to support the design and development of better user-facing applications that are backed by decentralized architecture.
      </p>
    </div>
    <div class="sidebar py-8 md:py-6 lg:py-0" aria-label="related content">
      <a class="link-next" href="/report">
        <div>
          Read our research report
        </div>
        <div>&#8250;</div>
      </a>
    </div>
  </section>
  <section aria-label="need design help?" class=" md:mb-24 xl:mb-32">
    <h2>Need design help?</h2>
    <div class="content">
      <p>
        We are looking for partners and collaborators to workshop user experience and architecture patterns. By addressing the specific needs and challenges of your project, we can also learn valuable lessons that would apply to the community as a whole. The design work we do will feed into the production of our pattern library.
      </p>

      <a class="link-reference" href="/work-with-us">
        Work with us
      </a>
    </div>
  </section>
</main>
