---
layout: default
meta_description: ...
body_class: home
title: Decentralization, off the shelf.
---
<link rel="prerender" href="/library" />
<link rel="prefetch" href="/library" />

<main class="main inner">
  <h1 class="xl:text-3xl xl:my-32">Decen&shy;trali&shy;zation, <i>off the shelf</i>.</h1>

  <section aria-label="Overview" class="flex flex-col xl:flex-row md:mb-24 xl:mb-32">

    <div class="content xl:mr-24">
      <p>
        Decentralization allows for the existence of different voices in a world of increasingly asymmetric power relations. Among other things, it enables alternative technologies to challenge traditional models: where governments and corporate control are causing harm, decentralized technologies have the potential to bring about autonomy, resilience, and equity.
      </p>

      <p class="mb-6 xl:mb-12">
        Unfortunately, a significant gap exists between the protocols that currently define the decentralization space and the applications that most users want to adopt. That’s why the mission of Decentralization Off The Shelf (or “DOTS”) is to develop UX components and tools that developers and designers can use to build better user-facing applications backed by decentralized architectures, <i>off the shelf</i>. To achieve this goal, the DOTS team – with the invaluable input and assistance of the larger community – is working to create a library of decentralization resources, assets, and design patterns.
      </p>

      <div class="my-6 md:my-0">
        <a class="link-reference" href="/about">
          Learn more about the DOTS project
        </a>
      </div>

  </section>

  <section aria-label="Research Report" class="flex flex-col xl:flex-row md:mb-24 xl:mb-32">

    <div class="content xl:mr-24">
    <h3>Research Report</h3>

      <p class="xl:mt-12">
        Through a series of interviews and focus groups with technology designers and builders, we have identified seven key areas where decentralized projects can improve their own practice, where further targeted research is needed, and where funders can help foster shared innovation. These areas, and the rest of our initial research findings, are discussed in our 2020 report, <i>Decentralization Off The Shelf: 7 Maxims</i>.
      </p>
    </div>

      <div aria-label="related content" class="xl:pt-24 my-6 md:my-12 xl:my-6 flex flex-col sm:items-start md:flex-row xl:flex-col">
        <a href="/library" class="btn">
          <div>Read our report</div>
        </a>
      </div>

  </section>

  <section aria-label="Pattern Library" class="flex flex-col xl:flex-row md:mb-24 xl:mb-32">
    <div class="content xl:mr-24">

      <h3>Pattern Library</h3>

      <p class="xl:mt-12">
        Within the decentralization space, few readily available tools exist that developers and designers can use to understand how to build applications. In response, we have created a pattern library of designs that are generalizable to protocols, applications, and the user interfaces of decentralized applications.
      </p>
    </div>

    <div aria-label="related content" class="xl:pt-24 my-6 md:my-12 xl:my-6 flex flex-col sm:items-start md:flex-row xl:flex-col">
      <a href="/library" class="btn">See pattern library</a>
    </div>

  </section>

  <section aria-label="Need design help" class="flex flex-col xl:flex-row md:mb-24 xl:mb-32">
    <div class="content xl:mr-24">

      <h3>Need design help?</h3>

      <p class="xl:mt-12">
        At DOTS, we’re looking for partners and collaborators to bring their design challenges to us so that we can workshop new user experience and architecture patterns. By addressing the specific needs and challenges of <i>your</i> project, we can also learn valuable lessons that can be applied to the community as a whole. As a result, the design work we do together will ultimately feed into the production of our pattern library.
      </p>
    </div>

    <div aria-label="related content" class="xl:pt-24 my-6 md:my-12 xl:my-6 flex flex-col sm:items-start md:flex-row xl:flex-col">
      <a href="/work-with-us" class="btn"> Work with us</a>
    </div>

  </section>

</main>
