---
layout: default
meta_description: ...
body_class: home
title: Decentralization, off the shelf.
---
<link rel="prerender" href="/patterns" />
<link rel="prefetch" href="/patterns" />

<main class="main inner">
  <h1 class="xl:text-3xl xl:my-32">Decen&shy;trali&shy;zation, off the shelf.</h1>

  <section aria-label="Summary" class="flex flex-col xl:flex-row md:mb-24 xl:mb-32">

    <div class="content xl:mr-24">
      <p>
        DOTS, short for Decentralization Off The Shelf, is a design project supporting practitioners in decentralization with interface, content, and service design. Our main resource is a library of tried-and-tested design patterns, along with a glossary of terms and a research report detailing the needs and gaps we see in this space.
      </p>

      <p>
        DOTS is hosted by Simply Secure, a US-based nonprofit supporting the usability of safety and privacy tools. It aligns with Simply Secure's overall mission of creating open design resources for the community. We are actively seeking funding for the development of further resources. You can support us by <a href="/support-us">backing DOTS</a>.
      </p>
    </div>
    <div aria-label="related content" class="my-8 md:my-16 xl:my-0">
      <a href="/patterns" class="btn btn-primary">
        <div >See pattern library</div>
      </a>
    </div>
  </section>

  <section aria-label="newsletter?" class=" md:mb-24 xl:mb-32">
    <h2>Report</h2>

    <div class="content">
      <p class="mb-6 xl:mb-12">
        [Text for report section]
      </p>
      <a class="link-reference" href="/report">
        Read our report
      </a>
    </div>
  </section>

  <section aria-label="need design help?" class=" md:mb-16 xl:mb-24">
    <h2>Need design help?</h2>
    <div class="content">
      <p class="mb-6 xl:mb-12">
        We are looking for partners and collaborators to workshop user experience and architecture patterns. By addressing the specific needs and challenges of your project, we can also learn valuable lessons that would apply to the community as a whole. The design work we do will feed into the production of our pattern library.
        </p>

      <a class="link-reference" href="/work-with-us">
        Work with us
      </a>
    </div>
  </section>

</main>
