---
layout: default
meta_title: Community
meta_description: Resources for the community
body_class: contact
title: Community
---
<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

<div class="flex mb-4">
  <div class="w-full bg-gray-500 h-12"></div>
</div>

<div class="flex mb-4">
  <div class="w-1/3 bg-gray-400 h-12"></div>
  <div class="w-1/3 bg-gray-500 h-12"></div>
  <div class="w-1/3 bg-gray-400 h-12"></div>
</div>

</main>
