---
layout: timeline
meta_title: Roadmap
body_class: about
title: Roadmap
timeline:
  - description: Project scope & research 
    date: Summer 2019
    state: done
  - description: Workshops and interviews
    date: Winter 2019/20
    state: done
  - description: Publish report
    date: Spring 2020
    state: done
  - description: Design patterns (user experience and architecture) 
    date: Summer 2020
    state: progress
  - description: Shared decentralization glossary 
    date: Fall 2020
    state: progress
  - description: Pattern library for developers (v1)
    date: Winter 2020
    state: idle
  - description: Explanatory resources about decentralization
    date: Spring 2021
    state: idle
  - description: Comparative map of decentralization projects
    date: Summer 2021
    state: idle
  - description: Pattern library for developers (v2)
    date: Fall 2021
    state: idle
---
