---
layout: default
meta_title: Donate
body_class: donate
title: Support us
---


<main id="main" class="main inner focus:outline-none" tabindex="-1">
  <article class="content">
    <h1>Support us</h1>

    <p><em>Decentralization Off The Shelf</em> is hosted by Simply Secure, a US-based 501(c)3 supporting the usability of safety and privacy tools. Donations are tax-deductible in the United States.</p>

    <p>Your donation will help our ongoing work in creating tooling and resources for the decentralization community. See our roadmap and GitHub Issues.</p>

    <p>We currently accept donations by Coinbase, PayPal, Transferwise, OpenCollective and via checks drawn on US dollars.</p>

    <div class="donation-options">
      <a class="btn btn-secondary" href="https://commerce.coinbase.com/checkout/82e08535-9387-441a-9c3f-4fa548d14d23">Coinbase</a>
      <a class="btn btn-secondary" href="https://opencollective.com/dots">OpenCollective</a>
      <a class="btn btn-secondary" href="https://www.paypal.me/simplysecure">PayPal</a>
    </div>

    <p>
    If you use Coinbase or PayPal, please make sure to indicate that your donation goes towards this project by referencing “DOTS”.
    </p>
  </article>

</main>
