---
layout: default
meta_title: Community
meta_description: Resources for the community
body_class: contact
title: Community
---
<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

  <div class="flex-grow w-1/2 p-2">
    <section id="container-centre" class="flex-none sm:flex-1 md:flex-auto lg:flex-initial xl:flex-1 text-left" aria-label="Summary">
        <h1 class="page-title">{{ title }}</h1>

</div>

</main>
