---
layout: default
meta_title: Support us
body_class: support-us
title: Support us
---

<main
  id="main"
  class="main inner flex flex-1 flex-col focus:outline-none content"
  tabindex="-1"
>
  <h1>Donate</h1>
  <p>
    <em>Decentralization Off The Shelf</em> is hosted by Simply Secure, a
    US-based 501(c)3 supporting the usability of safety and privacy tools.
    Donations are tax-deductible in the United States.
  </p>
  <p>
    Your donation will help our ongoing work in creating tooling and resources
    for the decentralization community. See our roadmap and GitHub Issues.
  </p>

  <p>We currently accept donations by Coinbase, PayPal, Transferwise, OpenCollective and via checks drawn on US dollars.</p>
    <div class="support-us-ctas">
      <a href="https://commerce.coinbase.com/checkout/82e08535-9387-441a-9c3f-4fa548d14d23" class="button button--secondary read-more">Donate via Coinbase</a>
      <a href="https://opencollective.com/dots" class="button button--secondary read-more">Donate to our OpenCollective</a>
      <a href="https://commerce.coinbase.com/checkout/82e08535-9387-441a-9c3f-4fa548d14d23" class="button button--secondary read-more">Donate with Crypto</a>
      <a href="https://opencollective.com/dots" class="button button--secondary read-more">Donate to our OpenCollective</a>
    </div>
  </p>

  <p>If you use Coinbase or PayPal, please make sure to indicate that your donation goes towards this project by referencing “DOTS”.</p>
</main>
