---
layout: default
meta_title: Work with us
meta_description: Work with us page description
body_class: work-with-us
title: Work with us
---

<main
  id="main"
  class="main inner content focus:outline-none"
  tabindex="-1"
>
  <h2 class="text-highlight mb-16 md:mb-32 max-w-6xl">
    We support projects working in decentralization with UX/UI and architecture
    design.
  </h2>

  <div class="offers">
    <section>
      <img 
            alt="Design sprint illustration" 
            src="/images/illustrations/Design_Sprint.png"
      />
      <h2>Design Sprints</h2>
      <p>
        We offer remote design support, ranging from 3-hour workshops to
        week-long sprints. Topics may include (but are not limited to):
      </p>
      <ul>
        <li>Developing a UX/UI pattern for a particular workflow</li>
        <li>
          Workshopping terminology, explanation, or illustrations for onboarding
        </li>
        <li>Designing a feature from the ground up</li>
        <li>Beginning user research and testing</li>
        <li>Reviewing of current designs based on best practices</li>
        <li>Is your architecture ready for a particular design?</li>
        <li>
          What architecture adjustments could help reach your design goals?
        </li>
      </ul>
    </section>
    <section>
      <img
        alt="Architecture sprint illustration" 
        src="/images/illustrations/Architecture_Sprint.png"
      />
      <h2>Architecture Sprints</h2>
      <ul>
        <li>
          Architecture review, resulting in a report on usability implications
        </li>
        <li>Developer-facing documentation</li>
        <li>
          We build an example application with your protocol or developer-facing
          library, and give feedback to your team.
        </li>
      </ul>
    </section>
    <section>
      <img
        alt="Informational interview illustration" 
        src="/images/illustrations/Informational_Interview.png"
      />
      <h2>Informational Interview</h2>
      <p>
        Are you working on a decentralized protocol or application, and would
        like to share your thoughts? We are putting together practical
        guidelines for decentralized applications, and are interested in hearing
        your perspective. Our research focuses on:
      </p>
      <ul>
        <li>What use cases are decentralized applications being applied to?</li>
        <li>
          What user experience pattern does your application use for X, Y, Z
          feature?
        </li>
        <li>
          What protocol or library do you use for an application with some given
          constraints?
        </li>
        <li>
          What are the trade-offs in approaches for key user interactions such
          as multi-device, backup, and discoverability?
        </li>
        <li>Who is currently working on X, Y, Z topic?</li>
      </ul>
    </section>
  </div>

  <div class="mb-8 md:mb-24">
    <a href="mailto:team@decentpatterns.xyz" class="btn btn-primary btn-lg" role="button">Get in touch</a>
  </div>

  <section aria-label="references" class="md:mb-16 lg:mb-24 max-w-5xl">
    <h2>Projects we've worked with</h2>
    <span class="grid md:grid-cols-2">
      <ul>
        <li><a class="link-reference" href="https://www.torproject.org/">Tor</a></li>
        <li><a class="link-reference" href="https://delta.chat">Delta.Chat</a></li>
        <li><a class="link-reference" href="https://dat.foundation">Dat (Hypercore Protocol)</a></li>
        <li><a class="link-reference" href="https://cobox.cloud">Cobox Cloud</a></li>
      </ul>
      <ul>
        <li><a class="link-reference" href="https://peermaps.org">Peermaps</a></li>
        <li><a class="link-reference" href=">https://mapeo.app">Mapeo</a></li>
        <li><a class="link-reference" href=">https://geti2p.net">I2P</a></li>
        <li><a class="link-reference" href=">https://arso.xyz/sonar/">Sonar</a></li>
      </ul>
    </span>
  </section>
</main>
