---
layout: default
---

<main class="inner pattern">
  <h1>Topics</h1>

  <p>{{ content | safe }}</p>

  <h2>Index</h2>
  <ul>
  {%- for topic in collections.topicsByTitle -%}
    <a href="/topics/{{ topic.fileSlug | lower }}"><li>{{ topic.data.title }}</li></a>
  {%- endfor -%}
  </ul>
</main>
