---
layout: default
---

<main class="inner pattern">
  <h1>{{ title }}</h1>

  <article class="content markdown">
    {{ content | safe }}
  </article>

  {% if tags | length > 1 %}
    <nav>
      <h2>Tags</h2>
      <ul>
      {% for tag in tags %}
        {% if tag !== 'pattern' %}
          <li><a href="/topics/{{ tag | urlencode }}">{{ tag | capitalize }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
  {% endif %}
</main>
