---
title: Pattern index
layout: default
permalink: "patterns/list/last-updated/index.html"
---

<main class="inner mt-0 pt-4 md:pt-0">

  <a class="link-prev link-small" href="/patterns">
    <img role="presentation" src="/images/icons/back.svg" />
    <div>
      Return to library
    </div>
  </a>

  <h1 class="my-4 md:my-8">Pattern Index</h1>

  <p>{{ content | safe }}</p>

  {% patternListing collections.patternsByLastUpdated,
  'lastUpdated' %}

</main>
