//========== Mobile Navigation ==========//

$transition-easing: cubic-bezier(0.77, 0, 0.175, 1);
$transition-length: 0.25s;

// menu toggle button
.mobile-nav-toggle {
  .mobile-nav-icon-line {
    height: 2px;
  }

  // when menu toggle is clicked
  &.menu-toggle-active {
    @apply bg-transparent;
    .mobile-nav-icon-bg {
      @apply bg-highlight rounded-full;
      width: 40px;
      height: 40px;
      position: absolute;
      margin-left: -2px;
    }

    .mobile-nav-icon-line {
      @apply m-0 bg-white;

      &:nth-child(1) {
        transform: rotate(45deg) translateY(3px);
      }

      &:nth-child(2) {
        @apply opacity-0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-3px);
      }
    }

    .mobile-nav-label {
      position: absolute;
      left: -100%;
    }
  }
}

// mobile menu
.mobile-nav {
  transform: translate3d(-100%, 0, 0);
  transition: transform $transition-length $transition-easing;
  transition-delay: 0.1s;
  will-change: transform;

  // when menu is visible
  &.menu-visible {
    transform: translate3d(0, 0, 0);

    .item {
      @apply opacity-100;
      transform: translate3d(0, 0, 0);
    }

    .footer {
      @apply opacity-100 duration-300;
      transition-delay: 1s;
    }
  }

  .item {
    transition: opacity 0.4s ease,
      transform $transition-length $transition-easing;
    transform: translate3d(-50%, 0, 0);
    transition-delay: $transition-length;

    // incrementally delay our animations
    @for $i from 0 through 100 {
      &:nth-child(#{$i}) {
        transition-delay: $transition-length * $i / 8 + 0.5;
      }
    }
  }

  .footer {
    @apply py-3 px-5 fixed left-0 w-full z-50 overflow-y-auto;
    bottom: 4rem;

    @screen sm {
      @apply px-5 py-6;
    }

    @screen md {
      @apply hidden;
    }
  }
}
