// Component for rendering a pattern preview that includes an image and
// a short text blurb below
.pattern-preview {
  @apply max-w-xs;

  img {
    @apply border rounded-lg border-white mb-4;
    background-image: url(/images/illustrations/placeholder.svg);
    width: 322px;
    height: 204px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
