.inner.pattern {
  .pattern-illustration {
    @apply w-full my-16;
    width: 660px;
    height: 370px;
  }
  img.pattern-illustration:before {
    // fall back to displaying a placeholder image if no illustration
    // was included with the pattern
    content: " ";
    display: block;
    position: absolute;
    width: 660px;
    height: 370px;
    background: url(/images/illustrations/placeholder.svg) center no-repeat;
    background-size: contain;
  }
}
