<div class="flex flex-col lg:flex-row my-8">
  <div class="lg:mr-12 lg:w-1/2 xl:w-2/3">
    <a href="/patterns/conditional-file-sharing/">
      <img width="660" height="370" class="border-white border-2 rounded-lg p-8" src="/patterns/conditional-file-sharing/illustration.svg" />
    </a>
  </div>
  <div class="flex-col lg:w-1/2 xl:w-1/3">
    <h2 class="my-8">
      <em class="block text-lg">Featured Pattern</em>
      <a href="/patterns/conditional-file-sharing/">
        <div class="text-xl">Conditional File Sharing</div>
      </a>
    </h2>
    <p>
      In a centralized world, all content is managed by a single provider. It controls when and where data is stored. However, peer-to-peer applications like BitTorrent flip this concept on its head. There is no single provider who decides when and where data is stored.
    </p>
    <p>
      <a class="link-reference" href="/patterns/conditional-file-sharing">Read more</a>
    </p>
  </div>
</div>