<div>
  <h2>
    <em class="block text-lg">Featured Pattern</em><br />
    Conditional File Sharing
  </h2>
  <p>
    In a centralized world, all content is managed by a single provider. It controls when and where data is stored. However, peer-to-peer applications like BitTorrent flip this concept on its head. There is no single provider who decides when and where data is stored.
  </p>
  <p><a class="link-reference" href="/">Read more</a></p>
</div>
