<div class="featured-pattern">
  <div>
    <a href="/library/social-radius-slider">
      <img width="660" height="370" src="/library/social-radius-slider/illustration.svg" />
    </a>
  </div>
  <div>
    <h2>
      <em>Featured Pattern</em>
      <a href="/library/social-radius-slider">
        <div class="text-xl">Social Radius Slider</div>
      </a>
    </h2>
    <p>
      Control information overload in large networks.
    </p>
    <p>
      <a class="link-reference" href="/library/social-radius-slider">Read more</a>
    </p>
  </div>
</div>
