<nav id="mobile-nav" class="mobile-nav">
  <ul>
    {% for item in navigation.main %}
      <li class="item relative opacity-0">
        <a href="{{ item.url | safe }}" class="link block py-1 sm:py-2 px-5 text-highlight text-base xs:text-lg hover:text-medium {% if page.url == item.url %}active text-body {% endif %}
      "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="footer opacity-0">
    <a href="https://simplysecure.org/">
        <img
          src="/images/logo/simplysecure-logo--white@2.png"
          width="120px"
          alt="SimplySecure logo"
        />
    </a>

    <div class="mt-3 xs:mt-6 text-caption sm:text-base text-medium"><em>Decentralization Off The Shelf</em> is an initiative hosted by Simply Secure, a US-based nonprofit supporting the usability of safety and privacy tools. All design patterns are licensed CC-BY. We follow <a href="https://simplysecure.org/legal/">Simply Secure’s privacy policy</a>.</div>

    <div class="hidden xs:flex mt-3 xs:mt-6">
      <a href="/support-us" class="btn btn-sm btn-secondary">Support us</a>
    </div>
  </div>
</nav>

<button id="mobile-nav-toggle" class="mobile-nav-toggle focus:outline-none" aria-label="Mobile menu toggle" aria-expanded="false" aria-controls="mobile-nav">
  <span class="mobile-nav-label mr-2 font-medium">Menu</span>

  <span class="mobile-nav-icon-bg"></span>
  <span class="mobile-nav-icon" aria-hidden="true">
    <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out mb-1"></span>
    <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out mb-1"></span>
    <span class="mobile-nav-icon-line bg-white w-6 block transition-all duration-200 ease-out"></span>
  </span>
</button>
