<div class="parallax parallax-back parallax-back-2">
  <img src="/images/decorative/grid-horizontal.png" style="width: 200px; height: 80px; transform: translateX(8vw) translateY(calc(25em + 5em * var(--parallax-shift))" />
  {# <img src="/images/decorative/shape-quarter.png" style="width: 100px; height: 285px; transform: translateX(55vw) translateY(150px)" /> #}
  <img src="/images/decorative/grid-orange.png" style="width: 60px; height: 60px; transform: translateX(30em)translateY(120vh)" />
</div>
<div class="parallax parallax-back parallax-back-1">
  <img src="/images/decorative/star-orange.png" style="width: 31px; height: 35px; transform: translateX(20vw) translateY(20em);" />
  <img src="/images/decorative/star-silver.png" style="width: 31px; height: 35px; transform: translateY(130vh);" />
  <img src="/images/decorative/oval-orange.png" style="width: 40px; height: 40px; transform: translateX(58vw)translateY(80vh);" />
  <img src="/images/decorative/grid-vertical.png" style="width: 57px; height: 144px; transform: translateX(50vw)translateY(130vh)" />
</div>
