.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-base {
  transform: translateZ(0);
}
.parallax-back-1 {
  display: flex;
  transform: translateZ(-1px) scale(2);
}

.parallax-back-2 {
  display: flex;
  transform: translateZ(-2px) scale(3);
}
