:root {
  --parallax-shift: 0;
  --parallax-loading: "none";
}

// This container wraps all .parallax elements and sets a `perspective`
// it's clipped at the horizontal viewport boundary to avoid horizontal
// scrolling due to perspective effects
.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Contains the page content - no depth
.parallax-base {
  transform: translateZ(0);
}

.parallax-back {
  display: flex;
  visibility: hidden;
}

// The two parallax layers have 1px and 2px depth to scroll at different speeds
.parallax-back-1 {
  transform: translateZ(-1px) scale(2);
}

.parallax-back-2 {
  transform: translateZ(-2px) scale(3);
}
