// //==========  Typography ==========//

// headings
h1,
h2,
h3,
h4 {
  @apply font-serif break-words;
  -moz-hyphens: auto;
  hyphens: auto;
  margin: 3rem 0 1.38rem;
}

h2,
h3,
h4 {
  @apply text-white;
}

h1 {
  @apply text-xl text-highlight mt-0;

  @screen sm {
    @apply text-2xl my-16;
  }
}

h2 {
  @apply text-lg font-light my-6;

  @screen sm {
    @apply text-xl my-12;
  }
}

h3 {
  @apply text-lg font-light my-8;

  @screen md {
    @apply text-lg my-10;
  }
}

h4 {
  @apply text-base my-8;
}

h5 {
  @apply text-base text-medium my-8;
}

p,
ul,
ol {
  @apply text-base text-white;
}

// Apply spacing between consecutive content blocks
p + p,
p + ul,
p + ol,
ul + p,
ol + p {
  @apply mt-6;

  @screen lg {
    @apply mt-12;
  }
}

.content {
  p,
  ul,
  ol {
    @apply max-w-xl;
  }

  ul,
  ol {
    @apply text-body text-base pl-6;

    @screen md {
      @apply pl-0;
    }

    li + li,
    ul + li,
    ol + li {
      @apply mt-4;
    }

    ul,
    ol {
      @apply mt-4 pl-8 mb-0;
    }
  }
}

ol {
  @apply list-decimal;
}

// the .markdown-class is applied to content, which is rendered from a markdown
// source file

.content.markdown {
  @apply max-w-4xl;

  p,
  ul,
  ol {
    // increases readbility
    @apply text-base;
  }

  // larger font-size needs more space around the paragraphs
  p + p {
    @apply mt-8;
  }

  // markdown header styles

  h1 {
    // hiding the header-anchor on h1 elements specifically because they are
    // quite obtrusive at that font-size

    .header-anchor {
      display: none;
    }
  }

  // markdown list styles

  ul,
  ol {
    @apply list-outside;

    @screen md {
      @apply pl-16;
    }
  }

  ul {
    @apply list-disc;
  }

  // quote styles

  blockquote {
    @apply my-12;

    // @screen md {
    //   @apply my-16;
    // }

    p {
      @apply text-base pl-8  border-l-2 border-dark;
    }
  }

  // this horizontal ruler is inserted before the footnotes, which are extracted
  // from the main markdown document

  hr.footnotes-sep {
    @apply mb-16;
    @screen lg {
      margin-top: -2rem;
    }
  }

  .footnote-item {
    // make sure that links in footnotes do have line breaks
    word-break: break-all;
  }
}
