// //==========  Typography ==========//
// headings
h1,
h2,
h3,
h4 {
  @apply font-serif break-words;
  -moz-hyphens: auto;
  hyphens: auto;
}

h2,
h3,
h4 {
  @apply text-white;
}

h1 {
  @apply text-h2 my-8 text-highlight;

  @screen sm {
    @apply text-h1 my-16;
  }

  @screen md {
    @apply my-32;
  }
}

h2 {
  @apply text-h3 font-light my-6;

  @screen sm {
    @apply text-h2 my-12;
  }
}

h3 {
  @apply text-h4 font-light my-8;

  @screen md {
    @apply text-h3 my-10;
  }
}

h4 {
  @apply text-base my-8;

  @screen md {
    @apply text-h4;
  }
}

h5 {
  @apply text-base text-medium my-8;
}

p,
ul,
ol {
  @apply text-base text-white;
}

p + p {
  @apply mt-6;

  @screen lg {
    @apply mt-16;
  }
}

.content {
  p,
  ul,
  ol {
    @apply mb-6 max-w-xl;
    @screen lg {
      @apply mb-16;
    }
  }

  ul,
  ol {
    @apply text-body text-base pl-6;

    @screen md {
      @apply pl-0;
    }

    li + li,
    ul + li,
    ol + li {
      @apply mt-4;
    }

    ul,
    ol {
      @apply mt-4 pl-8 mb-0;
    }
  }
}

ol {
  @apply list-decimal;
}

.content.markdown {
  @apply max-w-4xl;

  p {
    @apply max-w-3xl text-lg;
  }

  h2 {
    @apply my-16;
    font-size: 48px;
    @screen md {
      @apply my-24;
    }
  }

  h3 {
    @screen md {
      @apply my-16;
    }
  }

  ul,
  ol {
    @apply list-outside text-lg;

    @screen md {
      @apply pl-12;
    }
  }

  ul {
    @apply list-disc;
  }

  blockquote {
    @apply my-12;

    @screen md {
      @apply my-16;
    }

    p {
      @apply text-lg pl-8  border-l-2 border-dark;
    }
  }
}

.footnote-item {
  word-break: break-all;
}
